*.bak
*.backup
*.out
*.pdf
*.lof
*.bbl
*.brf
*.idx
*.log
*.lot
*.toc
*.dvi
*.aux
*.fls
.*.sw[a-z]
*.un~
Session.vim
.project
.texlipse
.vscode
*.gz
tmp
*~
*.nlo
*.nls
.settings
*.blg
*.ilg
*.pdf
/tmp
/obj
.externalToolBuilders/
*.fdb_latexmk
*.rnd

